{% extends 'base.html' %} 
{% load static %} 

{% block meta %}
<title>Library</title>
<link rel="stylesheet" href="{% static 'homepage_static/css/styles.css' %}" />
<link
  rel="stylesheet"
  href="{% static 'booklibrary_static/css/styles.css' %}"
/>
{% endblock meta %} 

{% block content %}
<!-- BOOKIFY NAVBAR -->
<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div
        class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
      >
        <div class="flex flex-shrink-0 items-center">
          <h1 class="font-bold text-blue-500 text-2xl mt-0.5 mb-1 ml-0.5">
            B O O K I F Y
          </h1>
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <a
              href="{% url 'homepage:show_homepage' %}"
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
              >Home</a
            >
            <a 
            class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
            href="#libraryTab"
            data-toggle="tab" 
            id="libraryLink"
            >Library</a>
            <a 
            class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
            href="#bookshelf"
            data-toggle="tab" 
            id="bookshelfLink"
            >Bookshelf</a>
          </div>
        </div>
      </div>
      <div
        class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
      >
        <button
          type="button"
          class="rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
        >
          <span class="sr-only">View notifications</span>
        </button>

        <div class="relative ml-3">
          {% if not user.is_authenticated %}
          <div>
            <button
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
              onclick="location.href='/login/'"
            >
              Login
            </button>
          </div>
          {% else %}

          <div class="flex space-x-4">
            <p
              class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
            >
              {{user.get_username}}
            </p>
            <button
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
              onclick="location.href='/logout/'"
            >
              Logout
            </button>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- LIBRARY/BOOKSHELF NAVBAR -->
<!-- <ul class="nav nav-tabs" style="background-color: #245877;">
  <li class="nav-item">
    <a
      style="color: black;"
      class="nav-link"
      href="#libraryTab"
      data-toggle="tab"
      id="libraryLink"
      >Library</a
    >
  </li>
  <li class="nav-item">
    <a 
       style="color: black;"
       class="nav-link" 
       href="#bookshelf" 
       data-toggle="tab" 
       id="bookshelfLink"
      >Bookshelf</a
    >
  </li>
</ul> -->

<!-- ALERT -->
<!-- =========BORROW/READ=========== -->
<div id="notificationSuccess" class="alert alert-success" role="alert" style="display: none;">
  Book added to your shelf successfully!
</div>
<div id="notificationFailed" class="alert alert-warning" role="alert" style="display: none;">
  Book is already in your shelf!
</div>
<!-- =========COMPLETE/READ=========== -->
<div id="readingSuccess" class="alert alert-success" role="alert" style="display: none;">
  You have completed reading this book!
</div>
<div id="readingFailed" class="alert alert-warning" role="alert" style="display: none;">
  Something went wrong, please try again later!
</div>
<!-- =========REREADING/READ=========== -->
<div id="reReadingSuccess" class="alert alert-success" role="alert" style="display: none;">
  Good Job! You are re-reading this book!
</div>
<div id="reReadingFailed" class="alert alert-warning" role="alert" style="display: none;">
  Something went wrong, please try again later!
</div>

<!-- LIBRARY TAB/CARDS -->
<div id="libraryTab" class="container">
  <div class="box">
    <form id="search_book">
      <div class="input-group">
        <input
          type="text"
          id="search_bar"
          name="txt"
          class="input"
          onmouseout="this.value = ''; this.blur();"
        />
        <!-- <button class="btn btn-dark" type="submit">Search</button> -->
      </div>
    </form>
    <i class="fas fa-search"></i>
  </div>

  <div class="container" id="library"></div>

</div>

<!-- BOOKSHELF TAB/CARDS -->
<div class="container" id="bookshelf" style="display: none;">
</div>

<!-- BOOK'S MODAL -->
<div
  class="modal fade"
  id="bookDetailsModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalBookTitle">Book Title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Book details go here -->
        <img id="modalBookThumbnail" src="" alt="Book Thumbnail" />
        <br />
        <h6><b>Description:</b></h6>
        <p id="modalBookDescription"></p>
        <p class="no-margin">
          <b><span id="modalBookGenreYear"></span></b>
        </p>
        <p class="no-margin">
          <b>Author :</b> <span id="modalBookAuthor"></span>
        </p>
        <p class="no-margin">
          <b>Pages :</b> <span id="modalBookPages"></span>
        </p>
        <p class="no-margin">
          <b>Rating :</b> <span id="modalBookAvgRate"></span>/5
        </p>
        <p class="no-margin">
          <b>Total Reviewer :</b> <span id="modalBookCountRate"></span>
        </p>
        <p class="no-margin">
          <b>ISBN-10 :</b> <span id="modalBookIsbn10"></span>
        </p>
        <p class="no-margin">
          <b>ISBN-13 :</b> <span id="modalBookIsbn13"></span>
        </p>
        <br />
        <!-- Borrow/Read button -->
        <button id="borrowReadButton" class="btn btn-primary"></button>
        <!-- Buy on Amazon button -->
        <a
          id="buyOnAmazonButton"
          href="#"
          target="_blank"
          class="btn btn-warning"
          >Buy on <b>Amazon</b></a
        >
      </div>
    </div>
  </div>
</div>



<!-- CSRF TOKEN -->
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />

<!-- =======================SCRIPT SECTION======================= -->
<script src="{% static 'booklibrary_static/js/script.js' %}"></script>

{% endblock content %}
