{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Bookmark</title>
<link rel="stylesheet" href="{% static 'homepage_static/css/styles.css' %}"/>
<link rel="stylesheet" href="{% static 'bookmark_static/css/styles.css' %}"/>
{% endblock meta %}

{% block content %}

<!-- BOOKIFY NAVBAR -->
<nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex flex-shrink-0 items-center">
            <h1 class="font-bold text-blue-500 text-2xl mt-0.5 mb-1 ml-0.5">B O O K I F Y</h1>
          </div>
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4 ">
                <a href="{% url 'homepage:show_homepage' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Home</a>
            </div>
          </div>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          <button type="button" class="rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
            <span class="sr-only">View notifications</span>
          </button>
          <div class="relative ml-3">
            {% if not user.is_authenticated %}
            <div>
                <button class="text-gray-300 hover-bg-gray-700 hover-text-white px-3 py-2 rounded-md text-sm font-medium" onclick="location.href='/login/'">Login</button>
            </div>
            {% else %} 
            <div class="flex space-x-4">
              <p class="text-gray-300 hover-text-white px-3 py-2 rounded-md text-sm font-medium">{{user.get_username}}</p>
              <button class="text-gray-300 hover-bg-gray-700 hover-text-white px-3 py-2 rounded-md text-sm font-medium" onclick="location.href='/logout/'">Logout</button>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
</nav>

<input type="text" class="form-control" id="searchBar" placeholder="Search for a book...">

<div class="filter-form">
  <form method="get" action="{% url 'bookmark:show_bookmark' %}">
      <label for="genre">Filter by Genre:</label>
      <select name="genre" id="genre">
          <option value="">All Genres</option>
          <option value="Fiction">Fiction</option>
          <option value="Comics & Graphic Novels">Comics & Graphic Novels</option>   
          <option value="Religion">Religion</option>
          <option value="Philosophy">Philosophy</option>
          <option value="Biography & Autobiography">Biography & Autobiography</option>
          <option value="Literary Criticism">Literary Criticism</option>
          <option value="Juvenile Fiction">Juvenile Fiction</option>   
          <option value="History">History</option>
          <option value="Mystery">Mystery</option>  
          <option value="Drama">Drama</option>       
      </select>

      <button type="submit">Apply Filters</button>
  </form>
</div>

<div class="container">
    {% for book in bookmarks %}
      <a href="#" class="card-link"
      data-book-id="{{ book.book.book.id }}" 
      data-title="{{ book.book.book.title }}"
      data-author="{{ book.book.book.author }}"
      data-year="{{ book.book.book.published_year }}"
      data-genre="{{ book.book.book.genre }}"
      data-pages="{{ book.book.book.pages }}"
      data-description="{{ book.book.book.description }}"
      data-thumbnail="{{ book.book.book.thumbnail }}"
      data-ratings_avg="{{ book.book.book.ratings_avg }}"
      data-ratings_count="{{ book.book.book.ratings_count }}"
      data-isbn10="{{ book.book.book.isbn10 }}" 
      data-isbn13="{{ book.book.book.isbn13 }}" 
      data-source="library">

      <div class="card item" data-book-id="{{ book.id }}">
          <img src="{{ book.book.book.thumbnail }}" class="card-img-top" alt="a book">
          <div class="card-body">
              <h5 class="card-title" id="title">{{ book.book.book.title }}</h5>
              <p class="card-text">{{ book.book.book.author }}</p>
          </div>
          <a href="{% url 'bookmark:delete_bookmark' book.id %}">
            <button class="delete-button" id="deleteButtons">Delete</button>
          </a> 
      </div>
    {% endfor %}
</div>

<!-- Existing code below the bookmarks -->
<div class="modal fade" id="bookDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalBookTitle">Book Title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Book details go here --> 
        <img id="modalBookThumbnail" src="" alt="Book Thumbnail">
        <br>
        <h6><b>Description:</b></h6>
        <p id="modalBookDescription"></p>
        <p class="no-margin"> <b><span id="modalBookGenreYear"></span></b> </p>
        <p class="no-margin"><b>Author :</b> <span id="modalBookAuthor"></span></p>
        <p class="no-margin"><b>Pages :</b> <span id="modalBookPages"></span></p>
        <p class="no-margin"><b>Rating :</b> <span id="modalBookAvgRate"></span>/5</p>
        <p class="no-margin"><b>Total Reviewer :</b> <span id="modalBookCountRate"></span></p>
        <p class="no-margin"><b>ISBN-10 :</b> <span id="modalBookIsbn10"></span></p>
        <p class="no-margin"><b>ISBN-13 :</b> <span id="modalBookIsbn13"></span></p>
        <br>

        <button id="borrowReadButton" class="btn btn-primary">Read</button>

      </div>
    </div>
  </div>
</div>

<script src="{% static 'bookmark_static/css/script.js' %}"></script>
{% endblock content %}
