{% extends 'base.html' %}
{%load static %}

{% block meta %}
<title>bookmark</title>
<link rel="stylesheet" href="{% static'bookmark_static\style.css' %}"/>

{% endblock meta %}


{% block content %}
<style>
    .card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    border: 1px solid black;
}

.card {
    width: 10rem;
    height: 21rem;
    margin: 20px; 
    border: 1px solid rgb(74, 74, 74);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
}

body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-img{
    width: 10rem;
    height: 15rem;  
    object-fit: cover; 
}

.card-title {
    height: 3rem;
    max-height: 3rem;
    text-align: start;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    text-align: center;
}

.card-text {
    height: 2rem;
    width: 10rem;
    text-align: center;
    -webkit-line-clamp: 2; 
}
</style>
<div class="card-container">
    <div class="card">
        <img src="kucing.jpeg" class="card-img" alt="a book">
        <div class="card-title">
            <h5>JAKA SEBUNG BAWA GOLOK</h5>
        </div>
        <div class="card-text">
            <p>thariq ziyad al farizi</p>
        </div>
    </div>
</div>
{% endblock %}
