{% extends "layout.html" %}

{% load static %}

{% block head %}
    <!--Icon-->
    <link rel="icon" href="{% static 'icons/icons8-repository-48.png' %}" rel="icon">
{% endblock %}

{% block title %}
    {{ book.title }}
{% endblock %}

{% block body %}
    <div class="container container-fluid mt-5">
        <div class="row search-row justify-content-center">
            <div class="col-lg-8 col-md-6 col-8 pt-6 mb-3">
                <div class="card">
                    <div class="card-header">
                        {{ book.author }}, {{ book.published_date }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <strong>{{ book.title }}</strong>
                        </h5>
                        <p class="card-text">
                            <strong>ISBN: </strong>{{ book.isbn10 }}<br>
                            <strong>Goodreads Reviews: </strong> {{ book.description }}<br>
                            <strong>Average Rating: </strong> {{ book.average_rating }} <br>
                        </p>
                        <a href="#review-form" class="btn btn-primary" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="review-form">Write a review</a>
                    </div>
                    <div class="collapse" id="review-form">
                        <!-- Form untuk menulis review -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
