{% extends 'base.html' %} {% load static %} {% block meta %}

<script
  src="https://code.jquery.com/jquery-3.6.1.js"
  integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
  crossorigin="anonymous"
></script>
<link rel="stylesheet" href="{% static 'homepage_static/css/styles.css' %}" />
{% endblock meta %} {% block content %}

<!-- nav bar -->
<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div
        class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
      >
        <div class="flex flex-shrink-0 items-center">
          <h1 class="font-bold text-blue-500 text-2xl mt-0.5 mb-1 ml-0.5">
            <strong>B O O K I F Y</strong>
          </h1>
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <a
              href="{% url 'homepage:show_homepage' %}"
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
              ><strong> Home </strong></a
            >
          </div>
        </div>
      </div>
      <div
        class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
      >
        <button
          type="button"
          class="rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
        >
          <span class="sr-only">View notifications</span>
        </button>

        <div class="relative ml-3">
          {% if not user.is_authenticated %}
          <div>
            <button
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
              onclick="location.href='/login/'"
            >
              <strong>Login</strong>
            </button>
          </div>
          {% else %}

          <div class="flex space-x-4">
            <p
              class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
            >
              <strong>{{user.get_username}}</strong>
            </p>
            <button
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
              onclick="location.href='/logout/'"
            >
              <strong>Logout</strong>
            </button>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="bg-blue-100">
  <!-- picture library -->

  <div
    class="flex items-center justify-center h-96 bg-cover bg-center mb-10 md:h-[32rem]"
    style="
      background-image: url('https://th.bing.com/th/id/OIP.wW5d4OrnmUW4WcZo9044HQHaE8?pid=ImgDet&rs=1');
    "
  >
    <div id="center">
      <div class="p-2 rounded-lg">
        <h1
          class="font-bold text-blue-500 text-[50px] mt-0.5 mb-1 ml-0.5 rounded-lg bg-gray-700 px-2 shadow-lg"
        >
          B O O K I F Y
        </h1>
      </div>
    </div>
  </div>

  <!-- cards that contain choices to what can you do -->
  <!-- Modul Book Library -->
  <container
    class="grid grid-cols-1 md:grid-cols-4 lg:grid-cols-6 gap-20 px-10 py-10 mb-10"
  >
    <div
      class="bg-white rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 transform transition-all hover:-translate-y-2 duration-300 shadow-lg hover:shadow-2xl overflow-hidden md:col-span-2"
    >
      <div>
        <img
          class="rounded-t-lg"
          src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
          alt=""
        />
      </div>
      <div class="p-5">
        <div>
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Book Library
          </h5>
        </div>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Implementasi private library untuk user dengan penandaan status "pernah membaca", rekomendasi buku yang cocok utk user, dan bookstore.
        </p>
        <a
          href="{% url 'booklibrary:show_library' %}"
          class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Join!
        </a>
      </div>
    </div>

    <!-- Modul Book Review & Favorites -->
    <div
      class="bg-white rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 transform transition-all hover:-translate-y-2 duration-300 shadow-lg hover:shadow-2xl md:col-span-2"
    >
      <div>
        <img
          class="rounded-t-lg"
          src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
          alt=""
        />
      </div>
      <div class="p-5">
        <div>
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Book Review & Favorites
          </h5>
        </div>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Implementasi dari fitur ini yaitu agar user dapat memberikan ulasan & rating buku, serta menambahkan daftar buku favorit ke dalam list favoritnya.
        </p>
        <a
          href="{% url 'bookreview:show_library' %}"
          class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 align-bottom"
        >
          Join!
        </a>
      </div>
    </div>

    <!-- Modul Book Donation -->
    <div
      class="bg-white rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 transform transition-all hover:-translate-y-2 duration-300 shadow-lg hover:shadow-2xl md:col-span-2"
    >
      <div>
        <img
          class="rounded-t-lg"
          src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
          alt=""
        />
      </div>
      <div class="p-5">
        <div>
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Book Donation
          </h5>
        </div>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Media untuk berdonasi buku yang disalurkan ke sekolah, panti asuhan, dan lain sebagainya.
        </p>
        <a
          href="{% url 'bookdonation:show_donation' %}"
          class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Join!
        </a>
      </div>
    </div>

    <!-- <container class="flex justify-center items-center mb-10 flex-row"> -->

    <!-- Modul Literacy Community -->
    <div
      class="bg-white rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 transform transition-all hover:-translate-y-2 duration-300 shadow-lg hover:shadow-2xl md:col-span-2 lg:col-start-2"
    >
      <div>
        <img
          class="rounded-t-lg"
          src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
          alt=""
        />
      </div>
      <div class="p-5">
        <div>
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Literacy Community
          </h5>
        </div>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Pembuatan komunitas sesuai dengan minat bacaan, serta implementasi fitur diskusi.
        </p>
        <a
          href="{% url 'bookcommunity:show_community' %}"
          class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Join!
        </a>
      </div>
    </div>

    <!-- Modul Bookmark -->
    <div
      class="bg-white rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 transform transition-all hover:-translate-y-2 duration-300 shadow-lg hover:shadow-2xl md:col-span-2 max-lg:md:col-start-2"
    >
      <div>
        <img
          class="rounded-t-lg"
          src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
          alt=""
        />
      </div>
      <div class="p-5">
        <div>
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Bookmark
          </h5>
        </div>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Filter informasi data buku yang "akan dibaca" oleh user.
        </p>
        <a
          href="{% url 'bookmark:show_bookmark' %}"
          class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Join!
        </a>
      </div>
    </div>
  </container>

  <!-- Tombol Register: sebagai user atau admin-->
  <container class="align-center mb-10">
    <div class="flex justify-center mb-10 mt-10">
      <div
        class="grid grid-cols-1 md:grid-cols-2 gap-x-px w-3/4 place-items-center justify-center rounded-md bg-gray-100 shadow-2xl"
      >
      <div class="w-4/5 md:w-3/5 text-align-center mt-10">
        {% if user.is_authenticated %}
        <div class="flex flex-col">
            <div class="flex justify-between">
                <h6><strong>Full Name:</strong></h6>
                <p>{{ request.user.full_name }}</p>
            </div>
            <div class="flex justify-between">
                <h6><strong>Email:</strong></h6>
                <p>{{ request.user.email }}</p>
            </div>
            <div class="flex justify-between">
                <h6><strong>Address:</strong></h6>
                <p>{{ request.user.address }}</p>
            </div>
            <div class="flex justify-between">
                <h6><strong>Phone Number:</strong></h6>
                <p>{{ request.user.phone_number }}</p>
            </div>
            <div class="flex justify-between">
                <h6><strong>Birthplace:</strong></h6>
                <p>{{ request.user.birthplace }}</p>
            </div>
            <div class="flex justify-between">
                <h6><strong>Birthdate:</strong></h6>
                <p>{{ request.user.birthdate }}</p>
            </div>
        </div>
        {% else %}
        <div class="flex justify-center">
            <a
                href="{% url 'homepage:register' %}"
                id="get-count-btn"
                class="align-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md"
            >
                <strong>Register</strong>
            </a>
        </div>
        <p
            id="campaign-count"
            class="text-[120px] textfont-bold justify-center text-center"
        ></p>
        <p id="count-detail" class="text-gray-700 text-center mb-10">
            Click the button above
        </p>
        {% endif %}
    </div>
    
        <div id="persuade" class="w-5/5 text-justify mx-10 my-10">
          <p>Bookify adalah platform yang bertujuan untuk meningkatkan minat membaca di Indonesia, terutama di kalangan remaja dan dewasa. 
            Dalam upaya mencapai tujuan ini, Bookify menyediakan berbagai fitur dan layanan, termasuk pencarian buku, pembelian buku, berpartisipasi 
            dalam komunitas buku, serta memberikan ulasan tentang buku yang telah dibaca. Platform ini juga memiliki toko buku dan perpustakaan virtual 
            yang memungkinkan pengguna untuk meminjam buku. Selain itu, Bookify memungkinkan pengguna untuk berdonasi buku ke sekolah atau instansi. 
            Dengan berbagai fitur ini, Bookify ingin menciptakan komunitas baca yang luas di Indonesia.</p>
        </div>
      </div>
    </div>

  <!-- about us -->
  <div class="flex flex-col items-center justify-center py-10 bg-slate-800 text-white opacity-100 hover:bg-slate-900 mt-20">
    <div>
      <p class="text-2xl text-center mb-4">B-12 Bookstore</p>
      <p class="text-2xl text-center mb-4">Lisa - Daril - Ghina - Hilmi - Thariq</p>
    </div>
  </div>
  </container>

  <footer class="p-4 bg-white shadow md:px-6 md:py-8 dark:bg-gray-900">
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">
      © 2023 Bookify™. All Rights (not) Reserved.
    </span>
  </footer>

  <!-- <script src="{% static 'js/homepage.js' %}" type="text/javascript"></script> -->
</div>
{% endblock content %}
