{% extends 'base.html' %}

{% load static %}

{% block meta %}
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'homepage_static/css/login.css' %}"/>
{% endblock meta %}

{% block content %}

<!-- <style>

    .login {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
    }

</style> -->

<div class = "login">

    <h1>Login</h1>

    <div class="isi">
    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn login_btn" type="submit" value="Login"></td>
            </tr>
        </table>
    </form>
    </div>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    Don't have an account yet? <a href="{% url 'homepage:register' %}">Register Now</a>

</div>

{% endblock content %}